### Vert.x ###
.vertx/

*.iml
modules.xml
.idea
*.ipr
node
.settings
.vscode
.classpath
.editorconfig
.project

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!src/main/resources/webroot/.gitkeep
src/main/resources/webroot/*
